image:
  repository: myprivateregistry15.azurecr.io/api
  tag: v1
  pullSecrets:
    - name: acr-auth

config:
  PORT: "3001"
  DBHOST: "mysql.database.svc.cluster.local"
  DBPORT: "3306"
  DB: "hello"

secret:
  DBUSER: "kaizen"
  DBPASS: "Hello123!"

service:
  type: ClusterIP
  port: 3001

resources:
  requests:
    cpu: 200m
    memory: 256Mi
  limits:
    cpu: 500m
    memory: 512Mi

autoscaling:
  enabled: true
  minReplicas: 1
  maxReplicas: 5
  targetCPUUtilizationPercentage: 70
